<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <!-- <div class="container"> -->
        <a class="navbar-brand js-scroll-trigger" href="/">Play music</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

             <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/new">S'INSCRIRE</a>
            </li>

    
           
             
          </ul>
        </div>
      <!-- </div> -->
    </nav>
      <div class="container" style="padding-top: 7rem;">

<h2>Connectez-vous et faites vous plaisir</h2>

  Adresse email:
  <input type="email" name="email" class="form-control"><br>
  Mot de passe:
  <input type="password" name="psw" class="form-control"><br>
  <a href="/session" class="btn btn-primary js-scroll-trigger">Connexion</a>


